
/** {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
input {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
img:not([draggable="true"]) {
    pointer-events: none;
}
body {
    background-color: #F0F8FF;
}
h2 {
    text-align: center;
    color: #FF4255;
}
.navega {
    background-color: #ffffffeb;
}
.lista-utiles {
    background-color: #ffffffe0;
}
.lista-grados {
    background-color: #ffffffe0;
}
.lista-estudiantes {
    background-color: #ffffffe0;
}
ul.listado {
    margin: 0;
    list-style: none;
}
li.nav-item a {
    background: #FF4255;
    color: #fff;
    margin: 5px;
    padding: 5px;
}

li.nav-item a:hover {
    color: #fff;
}
.nard {
    font-weight: 900;
    text-decoration: none;
}

/* Contenedores */

.container.principal {
    background: #ffffffeb;
    padding: 3rem 5rem;
    margin: 3rem 0rem;
}